{% extends "base_generic_old.html" %}

{% block content %}
<h2>Posts of "{{ author }}"</h2>
<div>
    {% if paginator %}
        {% for i in page_posts %}
             <p><a href="{% url 'catalog:one_post' pk=i.id %}">"{{ i.title }}"</a></p>
            <p><img src='/{{ i.image }}' alt="image" width=100% height=100%></p>
        {% endfor %}
    {% endif %}
</div>
<p>
    {% if page_posts.has_previous %}
        <a href="?page={{page_posts.previous_page_number}}">previous</a>
    {% endif %}
    {% for i in paginator.page_range %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endfor %}
    {% if page_posts.has_next %}
        <a href="?page={{page_posts.next_page_number}}">next</a>
    {% endif %}
</p>
{% endblock %}